In [175]:
import pandas as pd
import numpy as np
import random

In [176]:
df_atracciones=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ArchivosCSVProyecto-Pontia2024/atracciones.csv')
df_atracciones.drop(columns=['id_visitante'],inplace=True)

In [177]:
df_atracciones.columns.values.tolist()

['t_id', 'atraccion', 'comienzo_atraccion', 'tiempo_de_espera']

In [178]:
df=df_atracciones.groupby(['t_id']).apply(lambda x: x[[ 'atraccion', 'comienzo_atraccion', 'tiempo_de_espera']].to_dict('records')).reset_index().rename(columns={0:'prueba'})
df

/var/folders/z7/nbzy91552pxg2z1dxj_q975w0000gn/T/ipykernel_5401/3962445746.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df=df_atracciones.groupby(['t_id']).apply(lambda x: x[[ 'atraccion', 'comienzo_atraccion', 'tiempo_de_espera']].to_dict('records')).reset_index().rename(columns={0:'prueba'})

,t_id,prueba
0,PrivateTest_10072988.jpg,"[{'atraccion': 'Aventuras Acuáticas', 'comienz..."
1,PrivateTest_10077120.jpg,"[{'atraccion': 'Barco Pirata Misterioso', 'com..."
2,PrivateTest_10086748.jpg,"[{'atraccion': 'Cohetes Galácticos', 'comienzo..."
3,PrivateTest_10089743.jpg,"[{'atraccion': 'Vuelta al Mundo en 80 Días', '..."
4,PrivateTest_10131363.jpg,"[{'atraccion': 'Rápido del Trueno', 'comienzo_..."
...,...,...
35880,Training_99984859.jpg,"[{'atraccion': 'Cascada Encantada', 'comienzo_..."
35881,Training_99987906.jpg,"[{'atraccion': 'Vuelta al Mundo en 80 Días', '..."
35882,Training_99988263.jpg,"[{'atraccion': 'Mundo de las Maravillas', 'com..."
35883,Training_99996831.jpg,"[{'atraccion': 'Laberinto de Sueños', 'comienz..."
35884,Training_99999696.jpg,"[{'atraccion': 'Cine 4D Emocionante', 'comienz..."

In [179]:
df.isnull().sum()

t_id      0
prueba    0
dtype: int64

In [180]:
df_atracciones.sample(10)

,t_id,atraccion,comienzo_atraccion,tiempo_de_espera
17495,Training_50434815.jpg,Viaje al Centro de la Tierra,231.0,16
10900,PrivateTest_82244579.jpg,Viaje al Centro de la Tierra,41.0,9
3676,Training_13489272.jpg,Vuelta al Mundo en 80 Días,280.0,15
11400,Training_45169596.jpg,Tren del Terror,319.0,10
8470,Training_66202230.jpg,Caravana de Aventuras,643.0,16
33123,Training_43857410.jpg,NaN,245.0,14
33788,PublicTest_68359885.jpg,Tren del Terror,40.0,5
25935,Training_68347899.jpg,Carrera de Autos Locos,24.0,25
35202,PublicTest_64680248.jpg,Carrera de Autos Locos,621.0,9
20486,Training_89374221.jpg,Mundo de las Maravillas,673.0,9

In [181]:
#Comprobamos que el tiempo de recogida coincide con la cantidad de horas de los datos. EL total de horas son 720.
df_atracciones['comienzo_atraccion'].max()

719.0

In [182]:
df_atracciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35887 entries, 0 to 35886
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   t_id                35887 non-null  object
 1   atraccion           34749 non-null  object
 2   comienzo_atraccion  35791 non-null  float64
 3   tiempo_de_espera    35887 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [183]:
df_atracciones.isnull().sum()

t_id                     0
atraccion             1138
comienzo_atraccion      96
tiempo_de_espera         0
dtype: int64

In [184]:
df_atracciones.isna().sum()

t_id                     0
atraccion             1138
comienzo_atraccion      96
tiempo_de_espera         0
dtype: int64

In [185]:
t_id=df_atracciones['t_id'].unique()
lista_atracciones=list(t_id)
print(len(lista_atracciones))

35885

In [186]:
df_atracciones.head(50)

,t_id,atraccion,comienzo_atraccion,tiempo_de_espera
0,Training_10118481.jpg,Montaña Rusa de la Luna,291.0,5
1,Training_15361067.jpg,Mansión Embrujada,180.0,11
2,Training_16232328.jpg,Simulador Espacial 3D,384.0,19
3,Training_27705571.jpg,Fiesta de los Dulces,625.0,9
4,Training_63766171.jpg,Gran Caída Libre,613.0,17
5,Training_66555113.jpg,Cine 4D Emocionante,533.0,18
6,Training_81499267.jpg,Tobogán del Arco Iris,297.0,19
7,Training_94007493.jpg,Vuelo Mágico,82.0,7
8,Training_12950225.jpg,Araña Saltarina,316.0,9
9,Training_42955258.jpg,Tobogán del Arco Iris,552.0,10
10,Training_50338135.jpg,Cine 4D Emocionante,417.0,9
11,Training_65820611.jpg,Mundo de las Maravillas,698.0,9
12,Training_8397060.jpg,Mansión Embrujada,716.0,11
13,Training_90069123.jpg,Simulador Espacial 3D,414.0,9
14,Training_28136915.jpg,Mansión Embrujada,2.0,14
15,Training_52516519.jpg,Mansión Embrujada,583.0,20
16,Training_61794811.jpg,Fiesta de los Dulces,88.0,19
17,Training_66142455.jpg,Mundo de las Maravillas,237.0,16
18,Training_72798447.jpg,Cohetes Galácticos,183.0,5
19,Training_78245467.jpg,Cohetes Galácticos,156.0,16
20,Training_83065372.jpg,Safari Salvaje,241.0,19
21,Training_87355987.jpg,Barco Pirata Misterioso,539.0,14
22,Training_88196061.jpg,Montaña del Misterio,524.0,12
23,Training_29363112.jpg,Mundo de las Maravillas,504.0,16
24,Training_36501565.jpg,Selva Encantada,352.0,13
25,Training_53284079.jpg,Cohetes Galácticos,156.0,15
26,Training_53305606.jpg,Jardín de las Hadas,321.0,12
27,Training_20716064.jpg,Cine 4D Emocionante,658.0,15
28,Training_61325993.jpg,Espejos de la Risueña,308.0,8
29,Training_61564918.jpg,Mansión Embrujada,37.0,14
30,Training_75082078.jpg,Laberinto de Sueños,510.0,13
31,PublicTest_43074366.jpg,Dragón Volador,121.0,14
32,PublicTest_28123281.jpg,Selva Encantada,524.0,22
33,PublicTest_75651978.jpg,Dragón Volador,394.0,14
34,PrivateTest_92593957.jpg,Carros Chocones Divertidos,360.0,15
35,PrivateTest_98556225.jpg,Carros Chocones Divertidos,645.0,13
36,Training_10120469.jpg,Carrusel Encantado,425.0,11
37,Training_15848209.jpg,Viaje al Centro de la Tierra,363.0,16
38,Training_19226789.jpg,Montaña Rusa de la Luna,15.0,12
39,Training_2729866.jpg,Mansión Embrujada,277.0,12
40,Training_2978709.jpg,Caravana de Aventuras,338.0,16
41,Training_50449072.jpg,Cascada Encantada,655.0,8
42,Training_59169722.jpg,Carrusel Encantado,389.0,20
43,Training_72552568.jpg,Gran Caída Libre,197.0,10
44,Training_8911067.jpg,Carrera de Autos Locos,608.0,9
45,Training_19237812.jpg,Rápido del Trueno,469.0,14
46,Training_37488451.jpg,Montaña Rusa de la Luna,582.0,16
47,Training_4879752.jpg,Laberinto de Sueños,214.0,12
48,Training_94085355.jpg,Montaña Rusa de la Luna,196.0,5
49,Training_99751984.jpg,Vuelta al Mundo en 80 Días,87.0,7

In [187]:
df_atracciones[df_atracciones['atraccion'].isnull()]

,t_id,atraccion,comienzo_atraccion,tiempo_de_espera
56,Training_85932660.jpg,NaN,596.0,4
59,Training_1204614.jpg,NaN,426.0,21
60,Training_15524948.jpg,NaN,100.0,8
61,Training_57944429.jpg,NaN,477.0,13
85,Training_91019189.jpg,NaN,598.0,17
...,...,...,...,...
35801,PublicTest_62426646.jpg,NaN,108.0,13
35815,PrivateTest_23030368.jpg,NaN,404.0,11
35828,PrivateTest_93071746.jpg,NaN,80.0,18
35860,PublicTest_93328347.jpg,NaN,562.0,13
35886,PublicTest_94828377.jpg,NaN,417.0,13

In [188]:
filas_con_nulos = df_atracciones[df_atracciones['atraccion'].isnull() & df_atracciones['comienzo_atraccion'].isnull()]
filas_con_nulos

                          t_id atraccion  comienzo_atraccion  tiempo_de_espera
4641     Training_98791138.jpg       NaN                 NaN                 5
12219   PublicTest_2067774.jpg       NaN                 NaN                 9
13958  PrivateTest_3362951.jpg       NaN                 NaN                14
31448  PublicTest_93901885.jpg       NaN                 NaN                 4

In [189]:
df_atracciones[df_atracciones['comienzo_atraccion'].isnull()]

,t_id,atraccion,comienzo_atraccion,tiempo_de_espera
82,Training_81192903.jpg,Barco Pirata Misterioso,NaN,12
386,Training_10333072.jpg,Carrusel Encantado,NaN,17
1280,Training_13081724.jpg,Cohetes Galácticos,NaN,16
2445,Training_67457164.jpg,Tren del Terror,NaN,10
2630,Training_60936737.jpg,Cohetes Galácticos,NaN,10
...,...,...,...,...
34558,Training_98381187.jpg,Carrusel Encantado,NaN,13
34915,PrivateTest_56190110.jpg,Circus Fantástico,NaN,5
35076,Training_73211625.jpg,Circus Fantástico,NaN,8
35258,PrivateTest_39819887.jpg,Torbellino Espacial,NaN,15
35548,PrivateTest_23899463.jpg,Selva Encantada,NaN,23

In [190]:
df_atracciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35887 entries, 0 to 35886
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   t_id                35887 non-null  object
 1   atraccion           34749 non-null  object
 2   comienzo_atraccion  35791 non-null  float64
 3   tiempo_de_espera    35887 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [191]:
#Vamos a sustituir los valores nulos de la columnna comienzo de atracción. Y los valores que superen el tiempo de toma de los datos.
#Para ello crearemos una lista aleatoria con el total del tiempo - 1 de los datos
#utilizamos un bucle for con una selección aleatoria para sustituir los valores nulos. 
tiempo = [random.randint(1, 704) for i in range(96)]
for i in range(len(df_atracciones)):
    if pd.isnull(df_atracciones.loc[i,'comienzo_atraccion']):
         df_atracciones.loc[i, 'comienzo_atraccion'] = random.choice(tiempo)
    if df_atracciones.loc[i,'comienzo_atraccion']>705:
         df_atracciones.loc[i, 'comienzo_atraccion'] = random.choice(tiempo)

In [192]:
df_atracciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35887 entries, 0 to 35886
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   t_id                35887 non-null  object
 1   atraccion           34749 non-null  object
 2   comienzo_atraccion  35887 non-null  float64
 3   tiempo_de_espera    35887 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [209]:
#Estamos creando una lista con las atracciones.
atr=df_atracciones['atraccion'].unique()
lista_atracciones=list(atr)
lista_atracciones = [x for x in lista_atracciones if pd.notna(x)]
#lista_atracciones.pop()#una solución un poco chapucera. No entiendo porque no me funciona lo de arriba.

In [208]:
lista_atracciones

['Montaña Rusa de la Luna',
 'Mansión Embrujada',
 'Simulador Espacial 3D',
 'Fiesta de los Dulces',
 'Gran Caída Libre',
 'Cine 4D Emocionante',
 'Tobogán del Arco Iris',
 'Vuelo Mágico',
 'Araña Saltarina',
 'Mundo de las Maravillas',
 'Cohetes Galácticos',
 'Safari Salvaje',
 'Barco Pirata Misterioso',
 'Montaña del Misterio',
 'Selva Encantada',
 'Jardín de las Hadas',
 'Espejos de la Risueña',
 'Laberinto de Sueños',
 'Dragón Volador',
 'Carros Chocones Divertidos',
 'Carrusel Encantado',
 'Viaje al Centro de la Tierra',
 'Caravana de Aventuras',
 'Cascada Encantada',
 'Carrera de Autos Locos',
 'Rápido del Trueno',
 'Vuelta al Mundo en 80 Días',
 'Cúpula Estelar',
 'Circuito Veloz',
 nan,
 'Aventuras Acuáticas',
 'Tirolina Extrema',
 'Circus Fantástico',
 'Torbellino Espacial',
 'Rueda de la Fortuna',
 'Tren del Terror']

In [195]:
#Vamos a susutituir los valores nulos de la columna atracción mediante una selección aleatoria,
#para ello utilizaremos un bucle for. Utilizaremos la lsita creada anteriormente.
for i in range(len(df_atracciones)):
    if pd.isnull(df_atracciones.loc[i, 'atraccion']):
        df_atracciones.loc[i, 'atraccion'] = random.choice(lista_atracciones)

In [222]:
#De esta manera quitamos el valor str "nan" que se nos quedó de la interación anterior, al no haber eliminado "nan" de la lista.
df_atracciones['atraccion'] = df_atracciones['atraccion'].replace("nan", random.choice(lista_atracciones))

In [199]:
df_atracciones['comienzo_atraccion']=df_atracciones['comienzo_atraccion'].abs()

In [223]:
df_atracciones[df_atracciones['atraccion'].isnull()]

Empty DataFrame
Columns: [t_id, atraccion, comienzo_atraccion, tiempo_de_espera]
Index: []

In [224]:
df_atracciones.to_csv('atracciones_sql.csv', index=False)