In [24]:
import pandas as pd
import numpy as np
import random

Análisis de id_visitante-ticket

In [25]:
df_ticket=pd.read_csv("/Users/h.adrianzabaletahernandez/Desktop/ReconocimientoDeEmociones/Archivos CSV/ticket.csv")

In [29]:
df_ticket.groupby(['id_visitante']).agg({'tipo_entrada':'count'}).reset_index()

      id_visitante  tipo_entrada
0                1            32
1                2            37
2                3            36
3                4            37
4                5            36
...            ...           ...
1782          1783             1
1783          1784             1
1784          1785             1
1785          1786             1
1786          1787             1

[1787 rows x 2 columns]

In [34]:
df_ticket[df_ticket['id_visitante']==5]

,id_visitante,t_id,tipo_entrada,coste,antelacion_de_compra
73,5,Training_10131352.jpg,Entrada Infantil,19.06,25
74,5,Training_15498699.jpg,Pase Rápido,17.92,273
75,5,Training_16538275.jpg,Pase Rápido,16.05,0
76,5,Training_27707888.jpg,Paquete VIP,13.07,84
77,5,Training_33408401.jpg,Entrada Familiar,19.19,360
78,5,Training_35899521.jpg,Entrada Individual,21.67,0
79,5,Training_46501880.jpg,Pase Rápido,18.89,139
80,5,Training_49106080.jpg,Pase Anual,18.94,0
81,5,Training_53661557.jpg,Paquete VIP,20.53,113
82,5,Training_81192903.jpg,Entrada Individual,14.08,0
83,5,Training_84325046.jpg,Pase Rápido,17.29,197
84,5,Training_90026754.jpg,Entrada Infantil,11.37,0
85,5,Training_91019189.jpg,Entrada Infantil,26.76,0
86,5,Training_96298080.jpg,Entrada Individual,9.63,210
87,5,Training_98000381.jpg,Pase Rápido,15.35,95
88,5,Training_18375779.jpg,Pase Rápido,11.02,0
89,5,Training_25912105.jpg,Paquete VIP,19.58,57
90,5,Training_33315056.jpg,Entrada Infantil,9.09,277
91,5,Training_5453423.jpg,Pase Anual,24.82,346
92,5,Training_77982832.jpg,Pase Rápido,14.76,204
93,5,Training_12918469.jpg,Paquete VIP,7.67,179
94,5,Training_14078248.jpg,Pase Rápido,12.24,27
95,5,Training_36557536.jpg,Paquete VIP,17.03,175
96,5,Training_36725406.jpg,Entrada Familiar,15.23,0
97,5,Training_41454428.jpg,Entrada Infantil,19.67,130
98,5,Training_69898122.jpg,Entrada Familiar,18.96,138
99,5,Training_9925349.jpg,Entrada Familiar,12.23,32
100,5,Training_13009130.jpg,Entrada Familiar,21.70,0
101,5,Training_21050219.jpg,Paquete VIP,15.08,320
102,5,Training_29858227.jpg,Pase Rápido,19.22,63
103,5,Training_70265936.jpg,Pase Rápido,27.32,331
104,5,Training_83848798.jpg,Entrada Infantil,25.94,28
105,5,Training_47173336.jpg,Entrada Familiar,13.12,195
106,5,Training_55847949.jpg,Entrada Familiar,13.24,287
107,5,Training_93101774.jpg,Entrada Familiar,21.83,0
108,5,PublicTest_43169549.jpg,Entrada Familiar,13.86,356

In [41]:
type(df_ticket)

pandas.core.frame.DataFrame

In [10]:
df_sin_id=df_ticket.drop(columns=['id_visitante'])
df_sin_id.dtypes

t_id                     object
tipo_entrada             object
coste                   float64
antelacion_de_compra      int64
dtype: object

In [26]:
df_sin_id.groupby(['tipo_entrada']).count()

                    t_id  coste  antelacion_de_compra
tipo_entrada
Entrada Familiar    5981   5981                  5981
Entrada Individual  5978   5978                  5978
Entrada Infantil    5980   5980                  5980
Paquete VIP         5978   5978                  5978
Pase Anual          5984   5984                  5984
Pase Rápido         5986   5986                  5986

In [15]:
# las entradas fast-pass se venden como máximo con 3 días de anticipación
#Establecemos la condición y elimanmos las filas que la cumplan con drop() y el índice 
#filas a eliminar 3779, equivalen al 10,5 % de los datos ¿Es conveniente elimarlas?
df_sin_id= df_sin_id.drop(df_sin_id[((df_sin_id['tipo_entrada']=='Pase Rápido')& (df_sin_id['antelacion_de_compra']>3))].index)
df_sin_id

,t_id,tipo_entrada,coste,antelacion_de_compra
0,Training_10118481.jpg,Pase Anual,14.00,0
1,Training_15361067.jpg,Entrada Familiar,20.90,2
2,Training_16232328.jpg,Entrada Infantil,12.64,218
3,Training_27705571.jpg,Paquete VIP,18.49,39
4,Training_63766171.jpg,Entrada Familiar,18.23,135
...,...,...,...,...
35882,PublicTest_2529039.jpg,Entrada Individual,18.44,265
35883,PublicTest_27916929.jpg,Entrada Individual,11.50,42
35884,PublicTest_64107181.jpg,Entrada Individual,13.87,0
35885,PublicTest_81098275.jpg,Entrada Familiar,16.70,23
35886,PublicTest_94828377.jpg,Paquete VIP,21.84,208

In [47]:
#Aquí va el código de encontrar duplicados y nulos
df_ticket_duplicados=df_sin_id.duplicated(keep=False)
print(df_sin_id[df_ticket_duplicados])

Empty DataFrame
Columns: [t_id, tipo_entrada, coste, antelacion_de_compra]
Index: []

In [50]:
df_sin_id.isnull().sum()

t_id                    0
tipo_entrada            0
coste                   0
antelacion_de_compra    0
dtype: int64

In [66]:
df_sin_id.isna().sum()

t_id                    0
tipo_entrada            0
coste                   0
antelacion_de_compra    0
dtype: int64

In [18]:
df=pd.read_csv('/Users/h.adrianzabaletahernandez/Desktop/ArchivosCSVProyecto-Pontia2024/ticket_sql.csv')
df

,t_id,tipo_entrada,coste,antelacion_de_compra
0,Training_10118481.jpg,Pase Anual,14.00,0
1,Training_15361067.jpg,Entrada Familiar,20.90,2
2,Training_16232328.jpg,Entrada Infantil,12.64,218
3,Training_27705571.jpg,Paquete VIP,18.49,39
4,Training_63766171.jpg,Entrada Familiar,18.23,135
...,...,...,...,...
35882,PublicTest_2529039.jpg,Entrada Individual,18.44,265
35883,PublicTest_27916929.jpg,Entrada Individual,11.50,42
35884,PublicTest_64107181.jpg,Entrada Individual,13.87,0
35885,PublicTest_81098275.jpg,Entrada Familiar,16.70,23
35886,PublicTest_94828377.jpg,Paquete VIP,21.84,208

In [19]:
#vamos a susutuir los valores erróneos mediante una lista y una selección aleatoria 
antelacion = [f"opcion_{i}" for i in range(0, 3)]
for i in range(len(df)):
    if df.loc[i, 'tipo_entrada'] == 'Pase Rápido' and df.loc[i, 'antelacion_de_compra'] > 3:
        df.loc[i, 'antelacion_de_compra'] = np.random.choice(antelacion)

/var/folders/z7/nbzy91552pxg2z1dxj_q975w0000gn/T/ipykernel_5775/3526935475.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'opcion_0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, 'antelacion_de_compra'] = np.random.choice(antelacion)

In [23]:
df.to_csv('ticket_sql_2.csv', index=False)